<div class="column is-one-third">
  <div class="card">
    <% if star.image.present? %>
      <div class="card-image">
        <figure>
          <%= image_tag star.image %>
        </figure>
      </div>
    <% end %>
    <div class="card-content">
      <p class="title is-4"><%= link_to star.name, star %></p>
      <p class="subtitle is-6 has-text-success">$<%= star.cost %></p>
      <p><%= star.star_type.name %></p>
      <div class="content">
        <%= star.description %>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Add to Cart</a>
      <a href="#" class="card-footer-item">Buy Now</a>
    </footer>
  </div>
</div>