<h1 class="title is-2">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
  </div>

  <div class="field">
    <%= f.label :address, class:"label" %><br />
    <%= f.text_field :address, class:"input" %>
  </div>

  <div class="field">
    <%= f.label "Province:", class:"label" %>
    <div class="control">
      <div class="select">
        <%= f.select :province_id, options_from_collection_for_select(Province.all, "id", "name") %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :postal_code, class:"label" %><br />
    <%= f.text_field :postal_code, class:"input" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"button is-link mb-5" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
