<h1 class="title title is-2">Asteroids</h1>

<% breadcrumb :asteroids, @asteroids %>

<%= search_form_for @q, class:"mb-5" do |f| %>
  <div class="field">
    <%= f.label "Name:", class:"label" %>
    <%= f.search_field :name_cont, class:"input" %>
  </div>
  <div class="field">
    <%= f.label "Category:", class:"label" %>
    <div class="control">
      <div class="select">
        <%= f.select :asteroid_type_name_eq, options_from_collection_for_select(AsteroidType.all, "name", "name"), include_blank: true %>
      </div>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit class:"button is-link" %>
    </div>
    <div>
      <%= link_to "Clear", asteroids_path, class:"button is-warning"%>
    </div>
  </div>
<% end %>

<%= paginate @asteroids %>

<div class="dropdown is-hoverable mb-5">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Sorting</span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <a href="/asteroids" class="dropdown-item is-active">
        Show All
      </a>
      <a href="/asteroids/alphabetized" class="dropdown-item">
        Alphabetized
      </a>
      <a href="/asteroids/newest" class="dropdown-item">
        Newest
      </a>
      <a href="/asteroids/hightolow" class="dropdown-item">
        Price: High to Low
      </a>
      <a href="/asteroids/lowtohigh" class="dropdown-item">
        Price: Low to High
      </a>
    </div>
  </div>
</div>

<div class="columns is-multiline is-mobile">
  <%= render partial: 'asteroid',
             collection: @asteroids %>
</div>

<%= paginate @asteroids %>